@page "/stockmarket"
@using Microsoft.EntityFrameworkCore
@using MoneyMinder.Model
@using MoneyMinder.Data
@inject NavigationManager NavManager
@inject IDataAccessService DataAccessService

<div class="searchBar">
    <img class="border" src="interface_Images/Search.png" height="35" type="button" @onclick="search" />
    <input @bind-value="searchBox" class="enterSearch" placeholder="Search by title" />
</div>
<p>Searching for word '@searching'</p>
<p></p>

    @foreach (var item in Stocks)
    {
        <div class="companyFrame" type="button" @onclick="@(e=>clilckedOnCompany(item.CompanyName))">
            
            <form></form>
            <div class="companyLabel/">
                <img class="companyLabel" src="@imageSource" alt="Company Label" />
                <div class="comanyInformation">
                    <h4>@item.CompanyName</h4>
                    <p class="darkGray">@item.StockCode</p>
                    <p> </p>
                    <p>@item.MarketPrice</p>
                    <p>@item.MarketCap</p>
                </div>
            </div>
        </div>
    }

@code {

    private string imageSource = "CompanyLabels/image.jpg";
    private string searchBox = "";
    private string searching = "empty";
    private List<string> Companys = new List<string>();

    public List<Stock> Stocks;

    protected override void OnInitialized()
    {
        Stocks =  DataAccessService.GetStocks();
    }

    public void clilckedOnCompany(string company)
    {
        NavManager.NavigateTo("/company/" + company);
    }
    public void search()
    {
        searching = searchBox;
    }




}
