@layout MainLayout
@page "/stockmarket"
@using Microsoft.EntityFrameworkCore
@using MoneyMinder.Model
@using MoneyMinder.Data
@inject NavigationManager NavManager
@inject IDataAccessService DataAccessService
@inject StockDataScrapper Scrapit

<div class="searchBar">
    <img class="border" src="interface_Images/Search.png" height="35" type="button" @onclick="search" />
    <input @bind-value="searchBox" class="enterSearch" placeholder="Search for company" />
</div>

<br />

@foreach (var item in Stocks)
{
        <div class="companyFrame" type="button" @onclick="@(e=>clickedOnCompany(item.StockCode))">
            <div>
                <img class="companyLabel" src="@imageSource" alt="Company Label" />
                <div class="comanyInformation">
                    <h4>@item.CompanyName</h4>
                    <h5 class="darkGray">@item.StockCode</h5>
                    <p> </p>
                    <p> Market Price: @item.MarketPrice</p>
                    <p> Market Capitalisation: @item.MarketCap</p>
                </div>
            </div>
        </div>
}

@code {

    private string imageSource = "CompanyLabels/image.jpg";
    private string searchBox = "";
    private string searching = "empty";

    public List<Stock> Stocks;

    protected override void OnInitialized()
    {
        Stocks =  DataAccessService.GetStocks();
    }

    public async Task clickedOnCompany(string company)
    {
        DataAccessService.SetChosenStock(company);
        await Scrapit.DoScrapping();
        NavManager.NavigateTo("/company/" + company);
    }
    public void search()
    {
        searching = searchBox;
    }




}
