@page "/stockmarket"
@using MoneyMinder.Model
@using MoneyMinder.Data
@using Microsoft.AspNetCore.Http
@using System.IO;
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NavManager
@inject IDataAccessService DataAccessService

<div class="searchBar">
    <img class="border" src="interface_Images/Search.png" height="35" type="button" @onclick="search" />
    <input @bind-value="searchBox" class="enterSearch" placeholder="Search for company" />
</div>

<br />

@foreach (var item in Stocks)
{
        <div class="companyFrame" type="button" @onclick="@(e=>clickedOnCompany(item.CompanyName))">
            <div>
            <img class="companyLabel" src="@imageSource(item.CompanyName)" alt="Company Label" /><!--CANT SAVE IMAGE WITH SIGHN /-->
                <div class="comanyInformation">
                    <h4>@item.CompanyName</h4>
                    <h5 class="darkGray">@item.StockCode</h5>
                    <p> </p>
                    <p> Market Price: @item.MarketPrice</p>
                    <p> Market Capitalisation: @item.MarketCap</p>
                </div>
            </div>
        </div>
}

@code {

    //private string imageSource = "CompanyLabels/image.png";
    private string searchBox = "";
    private string searching = "empty";
    private List<string> Companys = new List<string>();

    public List<Stock> Stocks;

    protected override void OnInitialized()
    {
        Stocks =  DataAccessService.GetStocks();
    }

    public void clickedOnCompany(string company)
    {
        if (company.Contains('/'))
        {
            company = company.Replace("/", "zAeBaL");
        }
        NavManager.NavigateTo("/company/" + company);
    }
    public void search()
    {
        searching = searchBox;
    }
    private string imageSource(string company)
    {
        if (company.Contains('/'))
        {
            company = company.Replace("/", " ");
        }
        string check = "CompanyLabels/" + company+".png";
        return check;
        //return "CompanyLabels/image.png";
    }



}
