@layout MainLayout
@page "/transfer/{text}"
@using MoneyMinder.Model
@using MoneyMinder.Data
@using MoneyMinder.Pages
@using Microsoft.AspNetCore.Identity;
@inject IDataAccessService DataAccessService
@inject NavigationManager NavManager
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> SignInManager

<AuthorizeView>
    <Authorized>
        <div class="transfer_container">
            <!-- transfer account box -->
            <div class="transfer_account_container">
                <!-- both of the selects display account that are availbale to transfer -->
                <!-- it should block transfer to the blocked account -->
                <!-- if an account has been selected 'from' from selection, then that account should not be turn up at 'to' selection -->
                <div class="transfer_account_from">
                    <p>From: &nbsp;</p>
                    <select name="" id="" class="select account_selection" value="@from" @onchange="OnFromChanged">
                        <option value="" disabled selected hidden>-- Select an account --</option>
                        @foreach (var item in MyBankAccounts)
                        {
                            <option value="@Convert.ToString(item.AccountNum)">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="transfer_account_to">
                    <p>To: &nbsp;</p>
                    <select name="" id="" class="select account_selection" value="@to" @onchange="OnToChanged">
                        <option value="" disabled selected hidden>-- Select an account --</option>
                        @foreach (var item in MyBankAccounts)
                        {
                            <option value="@Convert.ToString(item.AccountNum)">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <!-- transfer amount input box -->
            <div class="transfer_amount_container">
                <p class="amount_reference_spacing">Amount: &nbsp;&nbsp;&nbsp;</p>
                <input type="number" class="transfer_amount_input" placeholder="Enter the amount" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter the amount'" @bind-value="@amount" @oninput="OnAmountChanged">
                @if (amount < 0)
                {
                    <p class="text-danger">  Amount must be a positive value.</p>
                }
                @if (fromAccount.Balance - amount < 0)
                {
                    <p class="text-danger">  Insufficient balance in @fromAccount.Name</p>
                }
            </div>

            <!-- transfer button -->
            <button class="transfer_button" @onclick="MakeTransfer" disabled="@disabled">Transfer</button>
            @if (cantTransferTo)
            {
                <br />
                <p class="text-danger">Please select 'From' and 'To' accounts.</p>
            }
            @if (from == to)
            {
                <br />
                <p class="text-danger">'From' and 'To' accounts cannot be the same.</p>
            }
            @if (fromAccount.Blocked == true)
            {
                <br />
                <p class="text-danger">@fromAccount.Name is blocked!</p>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <p role="status">You are not authorized to see this component.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public string Text { get; set; }


    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private User Current;
    private List<BankAccount> MyBankAccounts;

    async Task<string> getUsersEmail()
    {
        var user = (await authenticationStateTask).User;
        return user.Identity.Name;
    }

    protected override async Task OnInitializedAsync()
    {
        Current = DataAccessService.GetUser(await getUsersEmail());
        MyBankAccounts = DataAccessService.GetBankAccounts(Current.Email);
        StateHasChanged();
    }

    private BankAccount fromAccount = new BankAccount();
    private BankAccount toAccount = new BankAccount();

    private string from;
    private string to;
    private bool disabled = true;
    private bool cantTransferTo = true;

    public double amount { get; set; }

    private void CheckAccounts()
    {
        if (from != null && to != null)
        {
            cantTransferTo = false;
        }
        else
        {
            cantTransferTo = true;
        }
    }

    private void OnFromChanged(ChangeEventArgs e)
    {
        from = e.Value.ToString();
        fromAccount = DataAccessService.GetBankAccount(Convert.ToInt32(from));
        CheckAccounts();
        StateHasChanged();
    }

    private void OnToChanged(ChangeEventArgs e)
    {
        to = e.Value.ToString();
        toAccount = DataAccessService.GetBankAccount(Convert.ToInt32(to));
        CheckAccounts();
        StateHasChanged();
    }

    private void OnAmountChanged(ChangeEventArgs e)
    {
        if (double.TryParse(e.Value.ToString(), out double parsedAmount))
        {
            amount = parsedAmount;
            CheckTransfer();
        }
        else
        {

        }
    }

    private void CheckTransfer()
    {
        if (fromAccount.Balance - amount < 0 || fromAccount.Blocked == true || amount < 0 || fromAccount == toAccount)
        {
            disabled = true;
        }
        else
        {
            disabled = false;
        }
    }

    public void MakeTransfer()
    {
            DataAccessService.AddTransfer(fromAccount.AccountNum, toAccount.AccountNum, amount);
            StateHasChanged();
    }
}
